{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [">= 1% in US", "ie >= 10"]
      }
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
