// Utility Classes

.u-text-center {
  text-align: center;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.u-list-inline li {
  display: inline-block;
}

// Hide an element
.u-is-hidden {
  display: none;
}

// Hide an element on small breakpoint
.u-is-hidden-small {
  display: none !important;

  @include breakpoint(medium) {
    display: inherit !important;
  }
}

// Hide an element on medium breakpoint
.u-is-hidden-medium {
  display: inherit !important;

  @include breakpoint(medium) {
    display: none !important;
  }
}

// Hide an element on large breakpoint
.u-is-hidden-large {
  display: inherit !important;

  @include breakpoint(large) {
    display: none !important;
  }
}

.u-pad {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.u-img-responsive {
  display: block;
  width: 100%;
}
