// Utility Classes

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

// Hide an element
.is-hidden {
  display: none;
}

// Hide an element on small breakpoint
.is-hidden-small {
  display: none !important;

  @include breakpoint(medium) {
    display: inherit !important;
  }
}

// Hide an element on medium breakpoint
.is-hidden-medium {
  display: inherit !important;

  @include breakpoint(medium) {
    display: none !important;
  }
}

// Hide an element on large breakpoint
.is-hidden-large {
  display: inherit !important;

  @include breakpoint(large) {
    display: none !important;
  }
}
