.markdown {
  &-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 25px;

    &:before,
    &:after {
      position: absolute;
      z-index: 1;
      bottom: -10px;
      left: 50%;
      content: '';
    }

    &:before {
      bottom: -10px;
      margin-left: -25%;
      width: 50%;
      height: 1px;
      background-color: $gray;

      @include breakpoint(medium) {
        margin-left: -125px;
        width: 250px;
      }
    }

    &:after {
      bottom: -12px;
      margin-left: -15px;
      width: 30px;
      height: 6px;
      background-color: $cerulean;
    }
  }
}
