.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  width: 100%;
  font-family: $light-font-family;
  background-color: rgba($true-black, 0.45);

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-logo {
    width: 40px;
    height: 40px;
    fill: rgba($true-white, 0.85);

    @include breakpoint(medium) {
      width: 60px;
      height: 60px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

[role="navigation"] {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .header-navigation_item {
    position: relative;
    z-index: 1;

    &:not(:last-child):after {
      position: absolute;
      z-index: 1;
      width: 1px;
      height: 100%;
      transform: rotate(30deg);
      background-color: rgba($true-white, 0.25);

      @include breakpoint(medium) {
        right: -2vw;
        content: '';
      }

      @include breakpoint(large) {
        right: -2.5vw;
        content: '';
      }
    }
  }

  .header-navigation_link {
    padding: 5px 2px;
    color: rgba($true-white, 0.8);
    font-size: $small-font-size;
    font-weight: $light-font-weight;
    letter-spacing: $light-letter-spacing;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $true-white;
      text-shadow: 0 1px 3px rgba($true-white, 0.15);
      cursor: pointer;
    }

    &.is-active {
      color: $true-white;
    }
  }
}
