// Colors

// Monochrome
$true-white: #fff;
$eerie-black: #222;
$gray: #ccc;
$granite-gray: #666;
$true-black: #000;

// Blues
$cerulean: #00aeff;
$tiffany: #a5fceb;

// Reds
$giants-orange: #fe5a1d;
